/.mixin.out
/.curseclient
/.qmenu_opened.marker
/.vscode
/downloads
/ESM
/journeymap
/ldlib
/local
/logs
/minecraftinstance.json
/options.txt
/patchouli_books
/patchouli_data.json
/potionblender
/quests_structures
/resourcepacks
/rhino.local.properties
/saves
/schematics
/shaderpacks
/usercache.json
/usernamecache.json
/mods
/profileImage
/crash-reports